<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504651023242-t8dg13il3hudovhfda17mrn9pp1kjo2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504651023242-t8dg13il3hudovhfda17mrn9pp1kjo2d</string>
	<key>API_KEY</key>
	<string>AIzaSyCgIUZdKJ8Sl1dnHVQS5NIACwO1M2KAM9g</string>
	<key>GCM_SENDER_ID</key>
	<string>504651023242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mydiary</string>
	<key>PROJECT_ID</key>
	<string>my-diary-35553</string>
	<key>STORAGE_BUCKET</key>
	<string>my-diary-35553.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504651023242:ios:b72794bde2a24a6f413e73</string>
</dict>
</plist>